html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

h3 {
  text-decoration: underline;
}

a {
  text-decoration: none;
  color: black;

  &:hover {
    text-decoration: underline;
  }
}

#navbar {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  gap: 2rem;
  flex-direction: column;
  padding: 2rem 0 2rem 8rem;
  background-color: #fff;
  z-index: 2;

  @media (max-width: 1000px) {
    position: static;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    width: 100%;
  }

  > a {
    color: darkblue;
  }

  .nav-links {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    @media (max-width: 1000px) {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
    }
  }
}

#main-doc {
  position: absolute;
  top: 0;
  left: 300px;
  padding: 2rem 8rem;

  @media (max-width: 1000px) {
    padding: 2rem;
    top: 200px;
    left: 0;
  }
}
